.cs-button {
    height: 36px;
    background-color: #dc6830;
    color: white;
    display: inline-block;
    line-height: 36px;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 0 26px;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
}