.cs-button {
    background-color: $button-bg-color;
    border: 0;
    border-radius: 2px;
    color: $button-text-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    height: 36px;
    line-height: 36px;
    padding: 0 26px;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: background-color;

    &:hover {
        background-color: $button-bg-hover;
    }
}
