.cs-comment-login {
    .cs-button-social {
        margin: 0rem 1rem 0 0;
    }
}

.cs-comments-amount {
    margin-bottom: 1rem;
}

.cs-comments-title {
    margin-bottom: .5rem;
}

.cs-comment-row {
    margin-bottom: 3rem;

    // Setting a max-width to the comments might improve readability
    // max-width: 50rem;
    // margin-left: auto;
    // margin-right: auto;

}

.cs-comment-author {
    margin-bottom: .5rem;
}

.cs-comment-image {
    img {
        border-radius: .5rem;
        height: 5rem;
        width: 5rem;
    }
}
.cs-comment-author-name {
    font-weight: bold;
    margin-right: 1rem;
}

.cs-comment-date {
    color: $comment-date-color;
    margin-left: 1rem;
}

.cs-comment-form {
    & > h3,
    & > form {
        margin-bottom: .5rem;
    }

    & > form {
        & > textarea {
            display: block;
            margin-bottom: .5rem;
        }
    }
}
