
.cs-comments-title {
    margin-bottom: 1rem;
}

.cs-comment-avatar > img {
    height: 5rem;
    width: 5rem;
    border-radius: .5rem;
}

.cs-comment-row {
    margin-bottom: 3rem;

    // Setting a max-width to the comments might improve readability
    // max-width: 50rem;
    // margin-left: auto;
    // margin-right: auto;

    &:last-child {
        border-bottom: none;
    }
}

.cs-comment-author {
    margin-bottom: .5rem;
}

.cs-comment-name {
    font-weight: bold;
    margin-right: 1rem;
}

.cs-comment-date {
    margin-left: 1rem;
    color: $comment-date-color;
}

.cs-comment-form > h3,
.cs-comment-form > form {
    margin-bottom: .5rem;
}

.cs-comment-form > form > textarea {
    margin-bottom: .5rem;
    display: block;
}
