.cs-details-head {

    h1 {
        font-size: 1.9rem;
        margin-right: .5rem;
    }

    & > div {
        & > img {
            height: 3rem;
            margin-right: .5rem;
            width: 3rem;
        }
    }
}

.cs-details-body {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 0.0625rem solid $color-silver-3;
    border-bottom: 0.0625rem solid $color-silver-3;
}

.cs-details-head-button {
    font-size: .75rem;
    font-weight: normal;
    height: 1.75rem;
    line-height: 1.75rem;
    padding: 0 1rem;
    text-transform: none;
}

.cs-details-head-button-w {
    background-color: transparent;
    border: solid 1px $color-silver;
    color: $color-black;
    font-size: .75rem;
    font-weight: normal;
    height: 1.75rem;
    line-height: 1.75rem;
    padding: 0 1rem;
    text-transform: none;
    transition-property: all;

    &:hover {
        border-color: transparent;
    }
}

.cs-item-details-screenshot {
    max-width: 100%;
    width: auto;
}

.cs-item-details-description {
    background-color: $color-white;
    border: solid 1px $color-silver;
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 1rem;
}
