.cs-header {
    color: $header-color;
    justify-content: space-between;
    margin: auto;
    max-width: $global-max-width;
    padding: $header-padding-vertical 1rem;
    width: 100%;

    @media (min-width: 72rem) {
        padding-right: 0;
        padding-left: 0;
    }
}

.cs-header-logo {

    img {
        display: block;
        width: 10.3125rem;
    }

    div {
        color: $header-subtitle-color;
        font-family: $font-roboto;
        font-size: 1.125rem;
        font-weight: 200;
        margin-top: .0625rem;
        text-align: right;
    }
}

.cs-header-menu {
    text-align: right;

    a {
        color: $links-alt-color;
        box-sizing: border-box;
    }

    &-link,
    &-login {
        &.active {
            border-bottom: .0625rem solid $header-link-active-color;
        }
    }

    &-link {
        color: $header-color;
        font-family: $font-roboto;
        font-size: .875rem;
        padding: 0.375rem $header-link-separation-between / 3;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
    }

    &-login {
        padding-left: $header-link-separation-between;
        padding-right: $header-signup-horizontal-padding;
    }

    &-signup {
        height: $header-height;
        line-height: $header-height;
        padding: 0 $header-signup-horizontal-padding;
    }
}
