.cs-header {
    color: $header-color;
    display: block;
    height: $header-height;
    margin: auto;
    max-width: $global-max-width;
    padding: $header-padding-vertical 0;
    width: 100%;
}

.cs-header-logo {
    display: block;
    float: left;
    padding-top: 5px;

    $subtitle-color: $color-off-white-2;

    img {
        display: block;
        width: 165px;
    }

    div {
        color: $subtitle-color;
        display: block;
        font-family: $font-roboto;
        font-size: 18px;
        font-weight: 200;
        margin-top: 1px;
        text-align: right;
    }
}

.cs-header-menu {
    float: right;
    text-align: right;

    $link-separation-between: 28px;
    $signup-horizontal-padding: $link-separation-between / 1.7;

    $link-hover-color: $primary-color-dark;
    $link-active-color: $primary-color-dark;

    &-link,
    &-login {
        &:hover {
            color: $link-hover-color;
        }

        &.active {
            border-bottom: 1px solid $link-active-color;
        }
    }

    &-link,
    &-login,
    &-signup {
        color: $header-color;
        font-family: $font-roboto;
        font-size: 14px;
        padding: 6px $link-separation-between / 2;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
    }

    &-login {
        padding-left: $link-separation-between / 1.2;
        padding-right: $signup-horizontal-padding;
    }

    &-signup {
        height: $header-height;
        line-height: $header-height;
        padding: 0 $signup-horizontal-padding;
    }
}
