$color-white: #fff;
$color-silver: #c0c0c0;
$color-black: #000;

.cs-items-list-container {
    margin: 20px 0 0;
}

.cs-items-list-row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
}

.cs-items-list-image {
    background-color: $color-white;
    line-height: 0;
    position: relative;
    text-align: center;

    img {
        max-height: 245px;
        max-width: 435px;
        opacity: .85;
    }
}

.cs-items-list-overlay {
    background-color: $color-black;
    height: 30px;
    opacity: .5;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.cs-items-list-title {
    color: $color-white;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 15px;
}

.cs-items-list-item {
    border: solid 1px $color-silver;
    border-radius: 2px;
    cursor: pointer;
    height: 300px;
    width: 435px;

    &:hover {
        .image {
            .overlay {
                opacity: .75;
            }

            img {
                opacity: 1;
            }
        }
    }

    i {
        .cs-icon-time-ago {
            background: url('/resources/icons/time-ago.png') no-repeat 0 0;
            display: inline-block;
            height: 12px;
            width: 16px;
        }

        .cs-icon-download {
            background: url('/resources/icons/download.png') no-repeat 0 0;
            display: inline-block;
            height: 15px;
            width: 18px;
        }
    }
}

.cs-items-list-info-bar {
    box-sizing: border-box;
    font-size: 14px;
    height: 55px;
    padding: 10px;

    a {
        text-transform: none;
    }

    span {
        display: inline-block;
        float: right;
        height: 35px;
        line-height: 35px;
        margin-left: 10px;
    }
}
