@import '../settings/_index';
@import '../tools/_index';

$landing-jumbotron-height: 450px;

.cs-landing-jumbotron {
    @include linear-gradient-top-bottom($brand-color-darker, $brand-color-dark);
    background-color: $brand-color-darker;
    //height: $landing-jumbotron-height;
    display: flex;
    flex-direction: column;
}

.cs-jumbotron-content {
    width: 100%;
    max-width: $global-max-width;
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 380px;

    background-image: url(/resources/bg/jumbotron-mountain.png);
    background-position: 600px 1px;
    background-repeat: no-repeat;

    > div {
        width: 100%;
    }

    h1 {
        font-family: $font-roboto;
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    p {
        width: 520px;
        //color: #843f18;
        color: #d09f85;
        font-weight: bold;
    }
}

.cs-jumbotron-learn-how-today {
    height: 36px;
    background-color: #dc6830;
    color: white;
    display: inline-block;
    line-height: 36px;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 0 26px;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
}