@import '../settings/_index';
@import '../tools/_index';

$landing-jumbotron-height: 450px;
$color-white: #fff;
$learn-how-button-bg-color: #dc6830;
$intro-text-color: #d09f85;

.cs-landing-jumbotron {
    @include linear-gradient-top-bottom($brand-color-darker, $brand-color-dark);
    background-color: $brand-color-darker;
    display: flex;
    flex-direction: column;
}

.cs-jumbotron-content {
    align-items: center;

    background-image: url('/resources/bg/jumbotron-mountain.png');
    background-position: 600px 1px;
    background-repeat: no-repeat;

    color: $color-white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 380px;
    justify-content: center;
    margin: auto;
    max-width: $global-max-width;
    width: 100%;


    > div {
        width: 100%;
    }

    h1 {
        font-family: $font-roboto;
        font-size: 50px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    p {
        color: $intro-text-color;
        font-weight: bold;
        width: 520px;
    }
}

.cs-jumbotron-learn-how-today {
    background-color: $learn-how-button-bg-color;
    border-radius: 2px;
    color: $color-white;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    height: 36px;
    line-height: 36px;
    padding: 0 26px;
    text-decoration: none;
    text-transform: uppercase;
}
