.cs-login-wrap {

    //align-items: center;
    //display: flex;
    //height: 100%;
    width: 100%;

    .cs-login-signup-header {
        align-content: center;
        align-items: center;
        background: linear-gradient(to bottom, $brand-color-darker 0%, $brand-color-dark 100%);
        display: flex;
        flex-direction: column;
        height: 12.5rem;

        .cs-login-signup-header-logo {
            margin-bottom: .5rem;
            margin-top: 2rem;

            img {
                height: 58px;
                width: 58px;
            }
        }

        .cs-login-signup-header-text {
            color: $color-white;
            font-size: 2rem;
            font-weight: 300;
        }
    }

    form {
        background-color: $color-white;
        border: solid .0625rem $color-silver;
        border-radius: .3rem;
        display: flex;
        flex-direction: column;
        font-size: .9rem;
        margin: -45px auto auto;
        padding: .5rem $global-padding * 2;
        width: 20rem;
    }

    .cs-login-form-row {
        display: flex;
        flex-direction: column;
        margin: .5rem 0;

        label {
            color: $color-black;
            margin-bottom: .3125rem;
        }

        input {
            border: solid .0625rem $color-silver;
            border-radius: .3125rem;
            padding: .5rem;
        }

        a {
            color: $primary-color-dark;
            display: inline;
            text-decoration: none;
        }

        .cs-login-form-forgot-password-link {
            label {
                float: left;
            }

            a {
                float: right;
            }
        }
    }

    .cs-login-form-options {

        margin: .625rem 0;

    }

    .cs-login-signup-new-to-cinnamon {
        background-color: $color-white;
        border: solid .0625rem $color-silver;
        border-radius: .3rem;
        font-size: .9rem;
        margin: 1rem auto;
        padding: $global-padding;
        text-align: center;
        width: 22rem;

        a {
            color: $primary-color-dark;
        }
    }
}
