$link-color: #161616;
$link-hover-color: #000;
$title-color: #858585;
$color-silver: #c0c0c0;

$gradient-a: #fbfbfb;
$gradient-b: #f7f7f7;
$gradient-c: #f1f1f1;
$gradient-d: #e7e7e7;
$gradient-e: #e1e1e1;

.cs-main-left-sidebar {
    flex-grow: 0;
    width: 230px;

    .title {
        color: $title-color;
    }

    ul {
        border: solid 1px $color-silver;
        border-radius: 2px;
        list-style: none;
        padding: 0;
        width: 190px;

        li {
            background: linear-gradient(to bottom, $gradient-a 0%, $gradient-b 100%);
            border-bottom: solid 1px $color-silver;
            padding: 5px 20px;

            &:hover {
                background: linear-gradient(to bottom, $gradient-b 0%, $gradient-c 100%);
            }

            &:last-child {
                border-bottom: 0;
            }

            &.active {
                background: linear-gradient(to bottom, $gradient-d 0%, $gradient-e 100%);
            }

            a {
                color: $link-color;
                display: block;
                font-size: 14px;
                line-height: 38px;
                text-decoration: none;

                &:hover {
                    color: $link-hover-color;
                }
            }
        }
    }
}
