.cs-main-left-sidebar {
    flex-grow: 0;
    width: 230px;

    .title {
        color: #858585;
    }

    ul {
        list-style: none;
        padding: 0;
        border: solid 1px silver;
        border-radius: 2px;
        width: 190px;

        li {
            padding: 5px 20px;
            background: linear-gradient(to bottom, #fbfbfb 0%, #f7f7f7 100%);
            border-bottom: solid 1px silver;
            &:hover {
                background: linear-gradient(to bottom, #f7f7f7 0%, #f1f1f1 100%);
            }
            &:last-child {
                border-bottom: none;
            }

            &.active {
                background: linear-gradient(to bottom, #e7e7e7 0%, #e1e1e1 100%);
            }

            a {
                line-height: 38px;
                display: block;
                color: #161616;
                text-decoration: none;
                font-size: 14px;
                &:hover {
                    color: black;
                }
            }
        }
    }
}
