h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 2rem;
    margin: 0 0 1rem;
    font-size: 2rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 1.8rem;
    margin: 0 0 1rem;
    font-size: 1.8rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 1.6rem;
    margin: 0 0 1rem;
    font-size: 1.6rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 1.4rem;
    margin: 0 0 1rem;
    font-size: 1.4rem;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 1.2rem;
    margin: 0 0 1rem;
    font-size: 1.2rem;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 1rem;
    margin: 0 0 1rem;
    font-size: 1rem;
}

.cs-category-header {
    color: $spotlight-item-header-color;
    font-size: 1.35rem;
    font-weight: 600;
}
