// The linter makes me cry when it comes to this one.
// -darryn

a {
    transition: .1s ease-in-out;

    &:not(.cs-button) {
        color: $color-white;
        text-decoration: none;

        &:hover,
        &:active {
            color: $primary-color-dark;
        }

        &.cs-link-alternate {
            color: $primary-color-dark;

            &:hover,
            &:active {
                color: darken($primary-color, 7.5%);
            }
        }
    }
}
