a {
    &:not(.cs-button) {
        color: $color-white;
        text-decoration: none;
        transition: .1s ease-in-out;

        &:hover,
        &:active {
            color: $primary-color-dark;
        }
    }
}
