@import '../settings/__index';

html,
body {
    background-color: $main-background-color;
}

body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

* {
    font-family: $font-open-sans;
}
