// Primary Colors
$primary-color: #dc6830;
$primary-color-dark: #dc682f;
$primary-color-light: lighten($primary-color, 3%);

// Brand Colors
$brand-color-darker: #372318;
$brand-color-dark: #843f18;

$lm-brand-color: #73BB3D;

// General Colors
$color-white: #fff;
$color-off-white-1: #f4f4f4;
$color-off-white-2: #fdfdfd;
$color-off-white-3: #6d7986;
$color-almost-white: #f8f8f8;
$color-silver: #c0c0c0;
$color-black: #000;
